{% extends "news/base.html" %}
{% load static %}

{% block title %} Parolni tiklash {% endblock %}

{% block content %}

    <center>
        <h1> Parolni tiklash </h1>
        <p>Parolni tiklash uchun quyidagi formani toldiring</p>
    {% if validlink %}
        <p>Iltimos, o'rnatmoqchi bo'lgan parolningizni ikki marotaba kiring</p>

        <form method="post">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit"> Parolni almashtirish </button>
        </form>
    {% else %}
        <p>Siz foydalangan link noto'g'ri  yoki eskirgan bo'lishi mumkin, qayta urinib ko'ring</p>
    {% endif %}
    </center>

{% endblock %}
